* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color_principal: #e5a571;
$color_secundario: #cad6ae;
$color_terciario: #ffeecd;
$font: "Josefin Sans", sans-serif;



html {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
}

p {
    font-family: "Josefin Sans", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-family: "Josefin Sans", sans-serif;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}