@media (min-width: 1024px) {
    .contacto {
        &__banner {
            height: 30vh;
            background-image: url(../img/banner-contacto.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h1 {
                color: white;
                font-size: 5rem;
                font-weight: bold;
            }
        }

        &__cuerpo {
            max-width: 90%;
            margin: auto;
            padding: 2rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
        }

        &__form {
            font-family: "Josefin Sans", sans-serif;
            color: rgb(50, 50, 50);

            &-celdas {
                margin-top: 1rem;

            }
            & .btn{
            border-width: 0.1rem;
            padding: 0.5rem;
            border-color: $color_principal;
            border-style: solid;
            border-radius: 10px;

            &:hover {
                border-width: 0.1rem;
                padding: 0.5rem;
                background-color: $color_secundario;
                border-color: $color_principal;
                border-style: solid;
                border-radius: 10px;
                color: $color_terciario;
            }
        }
        }

    }
}

@media (min-width: 421px) and (max-width: 1023px) {}





@media (min-width: 375px) and (max-width: 420px) {
    .contacto {
        &__banner {
            height: 30vh;
            background-image: url(../img/banner-contacto.jpg);
            max-width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h1 {
                color: white;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        &__cuerpo {
            max-width: 90vw;
            margin: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-items: center;
            align-items: center;
        }

        &__form {
            font-family: "Josefin Sans", sans-serif;
            color: rgb(50, 50, 50);
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;

            &-celdas {
                margin-top: 1rem;
            }
            & .btn{
                border-width: 0.1rem;
                padding: 0.5rem;
                border-color: $color_principal;
                border-style: solid;
                border-radius: 10px;
    
                &:hover {
                    border-width: 0.1rem;
                    padding: 0.5rem;
                    background-color: $color_secundario;
                    border-color: $color_principal;
                    border-style: solid;
                    border-radius: 10px;
                    color: $color_terciario;
                }
            }
        }

        &__mapa {
            margin-top: 2rem;
            max-width: 95vw;
        }
    }

}